# Local Development: XAMPP MySQL database URL
DATABASE_URL="mysql://root:@localhost:3306/instafeed"

# Production: Railway / PostgreSQL database URL (automatically set on Railway)
# DATABASE_URL="postgresql://user:password@host:port/dbname?sslmode=require"
